*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
header,
nav,
section,
article,
aside,
footer{
    display: block;
}
header{
    background-color: brown;
    margin-bottom: 1vh;
}
header a{
    display: block;
    text-decoration: none;
    padding: 2% 5%;
    color: white;
    font-size: 2rem
}
nav{
    background-color: aqua;
    margin-bottom: 1vh;
}
nav ul{
    padding: 1% 5%;
    display: flex;
    gap: 20px;
}
nav ul li{
    list-style: none;
}

.mid{
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    margin-bottom: 1vh;
    justify-content: space-around;
}
aside img {display: block;
    width: 240px;
    height: 240px;
    margin-left: 160vh;
    margin-top: -30vh;
}
article{
    background-color: whitesmoke;
    width: 70%;
}
article h2{
    background-color: black;
    padding: 2% 5%;
    color: white;
}
footer{
    margin-top: 1vh;
    background-color: black;
    color: white;
}
footer h4{
    padding: 1% 20%;
    text-align: center;
}